.bg-blgdarkest  { background-color: #0e1010;}
.bg-blgdarker   { background-color: #181a1b;}
.bg-blgdark     { background-color: #1e2424;}
.bg-blgnavbar   { background-color: #249451;}
.font-roboto    { font-family: 'Roboto', sans-serif; font-weight: 300;}
.font-white     { color:whitesmoke}

.pixelated      { image-rendering: optimizeSpeed;}
.interactiveMap { width: 35%; height: 35%;}

.content        { margin:4px; padding:4px;}